# Created by https://www.gitignore.io/api/nim,code
# Edit at https://www.gitignore.io/?templates=nim,code

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json

### Nim ###
nimcache/

# End of https://www.gitignore.io/api/nim,code
